<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>unittest_with_image</Title>
      <Shortcut>unittesti</Shortcut>
      <Description>unit test template, with image init</Description>
      <Author>Graham Monkman</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>unittest</Namespace>
        </Import>
      </Imports>
      <Code Language="Python"><![CDATA[
# pylint: disable=C0103, too-few-public-methods, locally-disabled, no-self-use, unused-argument, unused-variable
'''unit tests for features'''
import unittest
from inspect import getsourcefile as _getsourcefile
import os.path as _path

import cv2

import funclib.iolib as iolib
import opencvlib
class Test(unittest.TestCase):
    '''unittest for keypoints'''

    def setUp(self):
        '''setup variables etc for use in test cases
        '''
        self.pth = iolib.get_file_parts2(_path.abspath(_getsourcefile(lambda: 0)))[0]
        self.modpath = _path.normpath(self.pth)
		self.module_root = _path.normpath(opencvlib.__path__[0]) #root of opencvlib
        self.imgpath = _path.normpath(_path.join(self.modpath, 'bin/images/matt_pemb5.jpg'))
        self.I = cv2.imread(self.imgpath)



    #@unittest.skip("Temporaily disabled while debugging")
    def test_func(self):
        '''test'''




if __name__ == '__main__':
    unittest.main(verbosity=2)
    
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>